@charset "UTF-8";

#pfWrap {
	width: 100%;
	max-width: 1200px;
	margin-left: -25%
}

#pf_container {
	float: right;
	width: 70%;
	min-height: 200px;
	height: auto !important;
	height: auto;
	font-size: 0.75em;
	zoom: 1
}

#pf_container:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: ""
}

#portfoliolist {
	padding-bottom: 10px;
	overflow: hidden;
	clear: both;
}

.pf_gall_row>li.gallWST {
	position: relative;
	margin-left: -0.03em;
}

.pf_gall_row>li.col-gn-0, .pf_gall_row .col-gn-1, .pf_gall_row .col-gn-2,
	.pf_gall_row .col-gn-3, .pf_gall_row .col-gn-4, .pf_gall_row .col-gn-5,
	.pf_gall_row .col-gn-6, .pf_gall_row .col-gn-7, .pf_gall_row .col-gn-8,
	.pf_gall_row .col-gn-9, .pf_gall_row .col-gn-10 {
	position: relative;
	min-height: 1px;
	float: left;
}

.pf_gall_row>li.gallWST.col-gn-3 {
	width: 33.33333333% !important;
}

.pf_gall_row>li.gallWST.col-gn-4 {
	width: 50% !important;
}

.pf_gall_row .box_clear {
	clear: none;
}

#pf_gall {
	margin-bottom: 20px;
	overflow: hidden
}

#pf_gall h2 {
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

#pf_gall #pf_gall_ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

#pf_gall .pf_gall_box {
	position: relative;
	margin: 0;
	overflow: hidden;
}

#pf_gall .pf_gall_li .pf_gall_chk {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	z-index: 1;
}

#pf_gall .pf_gall_now .pf_gall_text_href a {
	color: #ffff33
}

#pf_gall .pf_gall_href a:link, #pf_gall .pf_gall_href a:focus, #pf_gall .pf_gall_href a:hover
	{
	text-decoration: none
}

#pf_gall .pf_gall_boxa {
	text-align: center;
	position: relative;
	margin: 10px 10px 0 10px;
}

#pf_gall .pf_gall_boxa a, #pf_gall .pf_gall_img .pf_no_image, #pf_gall .pf_gall_img .pf_is_notice
	{
	display: block
}

#pf_gall .pf_gall_boxa a .pf_iconPs {
	font-style: normal;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
}

#pf_gall .pf_gall_boxa a .pf_icoNotice {
	display: inline-block;
	padding: 5px;
	background-color: #000;
	border-radius: 3px;
	color: #fff;
}

#pf_gall .pf_gall_boxa a>img {
	display: block;
	width: 100% !important;
	min-width: 100%;
	height: auto !important;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_boxa a b {
	display: block;
	position: absolute;
	left: 0px;
	top: 50%;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	color: #999;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: normal;
	width: 100%;
}

#pf_gall .pf_gall_boxa .pf_gall_info {
	font-style: normal;
	position: absolute;
	left: 0px;
	bottom: -50%;
	text-align: center;
	width: 100%;
	height: 20px;
	color: #fff;;
	font-size: 0.92em;
	line-height: 20px;
	margin-top: -10px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_boxa .pf_gall_info strong {
	display: inline-block;
	margin: 0 0 0 10px
}

#pf_gall .pf_gall_boxa .pf_gall_info i {
	font-size: 12px
}

#pf_gall .pf_gall_boxa .pf_gall_info .pf_gall_date {
	display: inline-block;
	color: #fff;
}

#pf_gall .pf_gall_boxa .pf_gall_info u {
	display: block;
	color: #fff;
	text-decoration: none;
}

#pf_gall .pf_gall_boxa .pf_gall_info u .sv_member {
	color: #fff;
}

#pf_gall .pf_gall_boxa a .pf_imgAr {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	overflow: hidden;
}

#pf_gall .pf_gall_boxa a .pf_imgAr img {
	display: block;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: auto;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_box:hover .pf_gall_info {
	bottom: 50%;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_box:hover .pf_gall_boxa {
	background: #222;
}

#pf_gall .pf_gall_box:hover .pf_gall_boxa a .pf_imgAr {
	width: 100%;
	height: auto;
	filter: Alpha(opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_box:hover .pf_gall_boxa a .pf_imgAr img {
	filter: Alpha(opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	transform: scale(1.1);
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_gall .pf_gall_text_href {
	padding: 10px 10px 30px 10px;
}

#pf_gall .pf_gall_text_href a {
	font-weight: bold;
	color: #000;
}

#pf_gall .pf_gall_text_href img {
	margin: 0 0 0 4px
}

#pf_gall .pf_tit {
	display: block;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.btn-light {
	font-size: 12px;
	font-weight: bold;
}

#pf_gall .pf_tit .cnt_cmt {
	background: #5c85c1;
	color: #fff;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border-radius: 3px;
	vertical-align: middle;
}

#pf_gall .pf_gall_name {
	margin: 10px
}

#pf_gall .pf_cate_link {
	display: block;
	filter: Alpha(opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	text-align: center;
	font-size: 11px;
}

.pf_sound_only {
	display: inline-block !important;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0;
	line-height: 0;
	border: 0 !important;
	overflow: hidden !important
}

@media all and (max-width: 800px) {
	.pf_gall_row .box_clear {
		clear: none;
	}
	.pf_gall_row>li.col-gn-0, .pf_gall_row>li.gallWST.col-gn-3, .pf_gall_row>li.gallWST.col-gn-4,
		.pf_gall_row>li.gallWST.col-gn-5, .pf_gall_row>li.gallWST.col-gn-6,
		.pf_gall_row>li.gallWST.col-gn-7, .pf_gall_row>li.gallWST.col-gn-8,
		.pf_gall_row>li.gallWST.col-gn-9, .pf_gall_row>li.gallWST.col-gn-10 {
		width: 33.33333333% !important;
	}
	.pf_gall_row>li.gallWST.col-gn-1, .gall_row>li.gallWST.col-gn-2 {
		width: 50% !important;
	}
}

@media all and (max-width: 680px) {
	.pf_gall_row>li.col-gn-0, .pf_gall_row>li.gallWST.col-gn-3, .pf_gall_row>li.gallWST.col-gn-4,
		.pf_gall_row>li.gallWST.col-gn-5, .pf_gall_row>li.gallWST.col-gn-6,
		.pf_gall_row>li.gallWST.col-gn-7, .pf_gall_row>li.gallWST.col-gn-8,
		.pf_gall_row>li.gallWST.col-gn-9, .pf_gall_row>li.gallWST.col-gn-10 {
		width: 50% !important;
	}
	.pf_gall_row>li.gallWST.col-gn-1, .pf_gall_row>li.gallWST.col-gn-2 {
		width: 100% !important;
	}
}

.pg_wrap {
	display: block;
	clear: both;
	margin: 70px 0;
	text-align: center
}

.pg_wrap:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: ""
}

.pg {
	
}

.pg_page, .pg_current {
	display: inline-block;
	vertical-align: middle;
	background: #f3f3f3;
	border: 1px solid #bbbcc3;
	margin: 2px 0;
}

.pg a:focus, .pg a:hover {
	text-decoration: none
}

.pg_page {
	color: #555;
	font-size: 1.083em;
	height: 30px;
	line-height: 28px;
	padding: 0 5px;
	min-width: 30px;
	text-decoration: none;
	border-radius: 15px;
}

.pg_page:hover {
	background: #ddd;
	color: #000;
}

.pg_start {
	text-indent: -999px;
	overflow: hidden;
/* 	background: url('${cPath}/img/start.jpg') no-repeat 50% 50% #fff; */
	padding: 0;
	border: 1px solid #bbb;
}

/* .pg_prev { */
/* 	text-indent: -999px; */
/* 	overflow: hidden; */
/* 	background: url('${cPath}/img/btn_prev.gif') no-repeat 50% 50% #fff; */
/* 	padding: 0; */
/* 	border: 1px solid #bbb */
/* } */

.pg_end {
	text-indent: -999px;
	overflow: hidden;
/* 	background: url('${cPath}/img/end.jpg') no-repeat 50% 50% #fff; */
	padding: 0;
	border: 1px solid #bbb
}

/* .pg_next { */
/* 	text-indent: -999px; */
/* 	overflow: hidden; */
/* 	background: url('${cPath}/img/btn_next.gif') no-repeat 50% 50% #fff; */
/* 	padding: 0; */
/* 	border: 1px solid #bbb */
/* } */

.pg_start:hover {
/* 	background: url('${cPath}/img/start.jpg') no-repeat 50% 50% #efefef; */
	border: 1px solid #ddd;
}

/* .pg_prev:hover { */
/* 	background: url('${cPath}/img/btn_prev.gif') no-repeat 50% 50% #efefef; */
/* 	border: 1px solid #ddd */
/* } */

.pg_end:hover {
/* 	background: url('${cPath}/img/end.jpg') no-repeat 50% 50% #efefef; */
	border: 1px solid #ddd
}

/* .pg_next:hover { */
/* 	background: url('${cPath}/img/btn_next.gif') no-repeat 50% 50% #efefef; */
/* 	border: 1px solid #ddd */
/* } */

.pg_current {
	display: inline-block;
	background: #666;
	color: #fff;
	border: 1px solid #444;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	min-width: 30px;
	border-radius: 15px;
}

#pf_sch {
	float: left;
	border: 1px solid #999;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 300px;
}

#pf_sch:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: ""
}

#pf_sch legend {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden
}

#pf_sch select {
	border: 0;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 90px;
	height: 40px;
	border-right: 1px solid #ddd;
}

#pf_sch .sch_input {
	height: 38px;
	border: 0;
	padding: 0 38px 0 100px;;
	background-color: transparent;
	width: 100%;
}

#pf_sch .sch_input:focus {
	background: #efefef;
	color: #000;
}

#pf_sch .sch_btn {
	height: 38px;
	display: block;;
	background: none;
	border: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 15px;
}

@media all and (max-width: 700px) {
	#portfoliolist {
		padding-bottom: 10px;
		overflow: hidden;
		clear: both;
	}
	#pf_sch {
		float: none;
		max-width: 100%;
		clear: both;
	}
}

#pf_sideBar {
	width: 100%;
}

#pf_snb {
	width: 100%;
}

#pf_snb {
	width: 100%;
}

#pf_snb>li.snb {
	width: 100%;
	display: none;
}

#pf_snb>li.snb.active {
	display: block !important;
}

#pf_snb>li>h2 {
	width: 100%;
	background: #000;
}

#pf_snb>li>h2 a {
	display: block;
	background: #000;
	text-align: center;
	padding: 80px 10px;
	color: #fff;
}

#pf_snb>li>h2 a b {
	display: block;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#pf_snb>li>h2 a sub {
	display: block;
	padding-top: 10px;
	font-size: 12px;
	letter-spacing: 0.05em;
	font-weight: normal;
	filter: Alpha(opacity = 50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#pf_snb>li .snb2dDown {
	display: none;
}

#pf_snb>li>ul {
	
}

#pf_snb>li>ul>li {
	border-bottom: 1px solid #ddd;
}

#pf_snb>li>ul>li a {
	display: block;
	padding: 15px;
	color: #666;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#pf_snb>li>ul>li a b {
	font-size: 13px;
}

#pf_snb>li>ul>li a:hover {
	background: #f3f3f3;
	padding-left: 20px;
	color: #000;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

/* #pf_snb>li>ul>li.snb2d.active a { */
/* 	background: #ddd; */
/* 	color: #000; */
/* } */

#pf_snb>li>ul>li a {
	overflow: hidden;
}

#pf_snb>li>ul>li a i {
	float: right;
}

/* #pf_sideBar #pf_snb .snb>ul.pf_snb2dul>li.active a { */
/* 	background: #e8e8e8; */
/* } */

#pf_sideBar #pf_snb .snb.active>ul.snb2dul {
	display: block;
}